/* global */
* {
    direction: rtl;
    text-align: right
}

.row {
    margin-right: 0;
    margin-left: 0
}
h1 {
    margin-top: 10px;
    margin-bottom: 30px
}

h5 { direction: rtl; margin: 10px 0 }

h5 span { color: orange }

/* table */
table { margin-top: 20px }